@use "../../theme/common";
.price {
  font-size: 2.5vh;
  font-weight: bold;
  @include common.highlightedText;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
}

.orderStatus {
  color: #65c438;
  // @if $orderStatus=='Finished' {
  // }
  // @else if $orderStatus=='Pending' {
  //     color: #4493e2;
  // }
}

.comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviewsQuantity {
  margin-left: 2vh;
}

.reviewsStar {
  background-color: #fdf4ed;
  height: 3.5vh;
  display: flex;
  margin: 0;
}

.reviewsScore {
  font-size: 2vh;
}

.starIcon {
  color: #ef8b33;
  margin-right: 1vh;
  padding-bottom: 0.3vh;
}

.reviewLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vh;
}

.reviewImg {
  --size: 12vh;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.reviewDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23vh;
  margin-left: 5vh;
}

.reviewStatusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7vh;
  padding-right: 2vh;
  height: 4vh;
  border-bottom: 1px double #d6e0d5;
}

.commentAndPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vh;
}

.reviewTitle {
  font-size: 2.5vh;
}

.orderId {
  margin-left: 2vh;
}

.reviewItem {
  margin: 0.5vh;
}
