.tabs {
  ion-icon {
    font-size: 24px;
  }

  ion-label {
    font-size: 13px;
    font-weight: 300;
  }
}

.ios {
  ion-toolbar {
    --min-height: 52px;
  }
}

.generalToast {
  --background: black;
  color: white;
  text-align: center;
  font-size: 14px;
}
