@use "../theme/common";

.bullet-point {
  // display: flex;
  position: relative;

  div {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  div:before {
    content: "\a";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: common.$normalFontColor;
    display: block;
  }

  ion-text {
    display: block;
    margin-left: 20px;
    font-size: 14px;
    color: common.$normalFontColor;
  }
}

.bullet-point:not(:last-child) {
  margin-bottom: 10px;
}
