.calendar {
  border: 0 !important;
  margin-bottom: 8px;

  abbr {
    text-decoration: none;
  }

  .react-calendar__navigation__next2-button {
    display: none;
  }

  .react-calendar__navigation__prev2-button {
    display: none;
  }

  .react-calendar__navigation__label {
    background-color: white !important;
    color: black;
  }

  button.react-calendar__tile {
    abbr {
      font-size: 15px;

    }

    div.tileContent {
      margin-top: 5px;
      font-size: 11px;
      color: var(--ion-color-medium)
    }
  }
}