.ratingStars {
  position: relative;
  width: 93px;
  height: 18px;

  .stars {
    height: 18px;
    width: 93px;
    white-space: nowrap;
    overflow: hidden;
  }

  ion-icon {
    margin-right: 2px;
  }

  .filledStars {
    position: absolute;
  }

  .outlineStars {
    position: absolute;
  }
}
