@use "../theme/common";

.reviewComment {
  margin-bottom: 6px;

  .ionAvatar {
    margin-bottom: 100px;
  }

  .ratingStars {
    width: 76px;
    height: 11px;
  }

  .stars {
    font-size: 12px;
    width: 68px;
    height: 11px;
  }

  .userName {
    font-size: 14px;
    font-weight: bold;
  }

  .ratingContainer {
    color: common.$normalFontColor;
    font-size: 14px;
    align-items: center;
    margin-bottom: 5px;
  }

  .comment {
    font-size: 14px;
    height: 67px;
    overflow-y: hidden;
  }
}

.ios .reviewComment {
  .ratingContainer span {
    position: relative;
    top: 1px;
  }
}
