@use "../../theme/common";

.searchPage {
  .resultCount {
    @include common.normalText;
  }

  .searchList {
    padding-top: 43px;
  }

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px - 10px);
    z-index: 500;

    ion-spinner {
      margin-right: 10px;
    }
  }

  .spinnerContainer.nextPage {
    min-height: 70px;
  }
}

.md .searchPage {
  .resultCount {
    margin: 10px;
  }

  ion-infinite-scroll {
    margin-top: 40px;
  }
}

.ios .searchPage {
  .resultCount {
    margin: 16px;
    margin-bottom: -10px;
  }
}
