.searchPage .searchFilter {
  height: 43px;
  width: 100vw;
  z-index: 999;
  background-color: white;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;

  ion-button {
    margin: 0px;
    height: 25px;
    flex: 1 1 auto;
  }

  // separate line between buttons
  ion-button:not(:last-child) {
    border-right: 1px solid var(--ion-color-primary);
  }

  // space after button icon
  ion-icon {
    font-size: 23px;
    margin-right: 3px;
  }

  svg {
    margin-right: 3px;
  }

  .buttonText {
    font-size: 13px;
  }
}

.md .searchPage .searchFilter {
  .buttonText {
    font-size: 12px;
  }
}
