.activityVoteOption {
  margin-left: 0;
  margin-right: 0;
  min-height: 65px;

  .cartInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }

  .activityOptionNumber {
    width: 23px;
    height: 23px;
    background-color: var(--ion-color-primary);
    border-radius: 5px;
    line-height: 23px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
  }

  .activityOptionDate {
    color: #333;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: start;
  }

  .activityOptionLocation {
    color: #444;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    text-align: start;

    ion-icon {
      font-size: 13px;
      margin-right: 3px;
    }
  }

  ion-checkbox {
    margin-right: 20px;
  }

  .nameTagContainer {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .trashBtn {
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 5px;

    ion-icon {
      margin: auto;
      display: block;
    }
  }
}

.activityVoteOption.create {
  padding-right: 10px;
}