.eventCards {
  .cardInner {
    padding: 10px;
    position: relative;

    ion-card-title {
      font-size: 17px;
    }

    .shareBtn {
      position: absolute;
      bottom: 3px;
      right: 1px;
    }

    .deleteBtn {
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }

  .cardEventInfo {
    margin-left: 10px;

    ion-card-title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .cardInfoRow {
      display: flex;
      align-items: center;
      height: 25px; 
      overflow-x: hidden;

      ion-icon {
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }

  ion-thumbnail {
    width: 100px;
    height: 100px;
    --border-radius: 5px;
  }
}