.nameTag {
  border-left: 3px solid var(--ion-color-primary);
  box-shadow: 1px 1px 3px grey;
  margin-bottom: 11px;
  margin-right: 8px;
  padding: 5px;
  font-weight: bold;
  color: var(--ion-color-primary);
}