@use "../theme/common";

.activityPage {
  .ripple-parent {
    position: relative;
    overflow: hidden;
  }

  ion-toolbar.topBar {
    position: fixed;
    top: 0;
  }

  .bottom-shadow {
    box-shadow: rgb(187 187 187) 0px 2px 5px;
  }

  ion-content {
    --background: #e8e8e8;
  }

  .carousel {
    width: 130vw;
  }

  .infoHero {
    position: relative;
    bottom: 10px;
  }

  .infoHero section.first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .infoHero section {
    background-color: white;

    padding-right: 15px;
    padding-left: 15px;
    padding-top: 6px;

    h1 {
      font-size: 22px;
      font-weight: bold;
    }

    .ratingContainer {
      @include common.mdRatingContainer;
      padding-bottom: 10px;

      .chip {
        height: 20px;
      }

      ion-label {
        color: common.$normalFontColor;
        font-size: 14px !important;
      }
    }

    .btnsContainer {
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 4px;
    }

    .skeletonMap {
      --border-radius: 5px;
      height: 250px;
    }

    .rating {
      color: var(--ion-color-primary);
      font-size: 40px;
      margin-right: 15px;
    }

    .reviewsCount {
      @include common.normalText;

      color: common.$normalFontColor;
      position: relative;
      left: 3px;
    }

    .reviewTitle {
      margin-bottom: 15px;
    }
  }

  .infoHero .infoSection {
    margin-bottom: 10px;
  }

  .infoHero .infoSection.packages {
    ion-chip {
      pointer-events: none;
    }
  }

  .infoHero section.availability {
    padding-right: 0;

    ion-icon {
      font-size: 20px;
      color: common.$normalFontColor;
    }

    ion-text {
      display: block;
      margin-left: 20px;
      font-size: 14px;
      color: common.$normalFontColor;
    }

    ion-text.bold {
      font-weight: bold;
      color: black;
    }
  }

  ion-footer {
    display: flex;
    justify-content: center;

    ion-toolbar {
      div {
        display: flex;
        justify-content: space-evenly;

        ion-button {
          display: block;
          width: 130px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.ios .activityPage {
  ion-toolbar.topBar {
    padding-top: var(--ion-safe-area-top)
  }

  .infoHero {
    section.first-child {
      padding-top: 10px;
    }

    section {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .ratingContainer {
      @include common.iosRatingContainer;
    }
  }
}
