@use "../theme/common";

.bookPage {
  ion-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .sectionSelectorTitle {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .sectionSelector {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    ion-chip {
      flex-grow: 1;
      justify-content: center;
    }
  }

  .sectionSelectorContainer:not(:last-child) {
    margin-bottom: 12px;
  }

  .packageSelector {
    ion-item {
      color: #222;
    }

    ion-select {
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: -8px;
      border-radius: 8px;
      color: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-primary);
    }
  }

  .quantitySelector {
    .price {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  .quantitySelector:not(:last-child) {
    margin-bottom: 10px;
  }

  ion-footer {
    .nextBtn {
      display: block;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}

ion-text.subtotal {
  font-weight: bold;
  color: #AAA;
  text-align: center;
}

.noPackageWarningToast {
  --background: black;
  color: white;
  text-align: center;
  font-size: 14px;
}