@use "../theme/common";

.priceText {
  @include common.highlightedText;
}

.subTotal {
  padding-top: 4px;
  color: var(--ion-color-medium);
  height: 50%;
  box-sizing: border-box;
}

ion-button.bookNowBtn {
  --border-radius: 5px;
  --ion-color-contrast: white !important;
  font-weight: 500;
}
