@use "../theme/common";

.confirmBooking {
  section.section:last-child {
    margin-bottom: 0;
  }

  section.section {
    background-color: white;

    padding-right: 15px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 15px;

    margin-bottom: 15px;

    .title {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .content {
      color: common.$normalFontColor;
    }

    .info {
      div {
        margin-bottom: 4px;
      }
    }

    .price {
      color: #444;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  section.package {
    ion-button {
      --background-activated: #68ced6;
      margin-top: 15px;
      display: block;
    }
  }

  section.form {
    padding-bottom: 20px; 
  }

  section.payment {
    ion-button {
      display: block;
    }

    ion-text {
      font-weight: bold;
    }
  }

  ion-item.noMargin {
    margin-left: -15px;
    margin-right: -15px;
  }
}