.createEventPage {
  section.section {
    background-color: transparent;

    h2 {
      font-size: 16px;
      text-align: start;
    }
  }

  section.eventName {
    ion-input {
      border: #444 solid 2px;
      background-color: white;
      border-radius: 5px;
      height: 40px;
      --padding-start: 10px;
    }
  }

  section.dateTime {
    text-align: center;
  }

  section.activity {
    text-align: center;
  }

  .plusBtn {
    height: 32px;
    width: 32px;
    font-size: 28px;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
    border: 2px #444 solid;
  }

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }
}

.ios .createEventPage {
  section.section {
    margin-bottom: 0;
  }

  ion-card:first-child {
    margin-top: 0;
  }
}

.md .createEventPage {
  .plusBtn {
    margin-top: 20px
  }
}

.timeModal {
  .timeOptionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 15px 16px;
    font-size: 16px;
  }

  .bold {
    font-weight: bold;
  }

  .sameDateToggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
}