.eventPage {
  ion-select{
    display: inline-flex;
  }

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }

  .selectorContainer {
    height: 50px;
    padding-left: 5px;
    padding-right: 9px;
    padding-top: 11px;  
    font-size: 17px;

    ion-icon {
      display: block;
    }
  }

  .noEventContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    div {
      margin: 3px;
    }

    button {
      font-size: 20px;
      background-color: var(--ion-color-primary);
      padding: 5px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px #444;
    }
  }
}

.ios .eventPage {
  .eventCards {
    ion-card:first-child {
      margin-top: 12px;
    }
  }
}

.d-flex {
  display: flex;
}