.eventDetailPage {
  ion-icon {
    font-size: 24px;
  }

  h1.section {
    margin-bottom: 20px;
  }

  .section:not(:last-child) {
    margin-bottom: 25px;
  }

  .section {
    background-color: transparent;
    padding-left: 16px; 
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 0;
    color: #444;

    h2 {
      font-size: 16px;
      color: #444;
      margin-top: 0;
    }

    .nameInputWrapper {
      display: flex;
      align-items: center;

      div {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    ion-input {
      background: white;
      border: 1px solid var(--ion-color-primary);
      border-radius: 5px;
      height: 100%;
    }
  }
}