@use "../theme/common";

.homePage {
  .ionToolBar {
    @include common.ionToolBar;

    --padding-start: 4vw;
    --padding-end: 1vw;
  }

  .ionSearchBar {
    pointer-events: none;
  }

  section.section {
    background-color: transparent;
    margin-bottom: 5px;
    padding-bottom: 0;

    h2 {
      font-size: 19px;
      font-weight: bold;
      color: #476c70;
      margin-top: 10px;
      margin-bottom: 3px;
    }
  }

  section.categories {
    .iconContainer {
      margin: 0 -16px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    height: max-content;
    margin: 0 -8px;
  }
}

.ios .homePage {
  .ionToolBar {
    --padding-end: 2.5vw;
  }

  .ionSearchBar {
    @include common.iosIonSearchBar;
  }

  .scrolls {
    margin: -8px -15px;
  }
}

.md .homePage {
  .ionSearchBar {
    @include common.mdIonSearchBar;
  }

  .toolBarIonButtons {
    margin: auto;
  }
}
