.homePage {
  .ionCard {
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    width: 300px;
    height: 300px;

    ion-img{
      height: 200px;
      object-fit: cover;
    }

    ion-card-header {
      padding: 16px;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  
    ion-card-subtitle {
      text-transform: none;
    }
  
    ion-card-title {
      margin-top: 1px;
      font-size: 17px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    ion-skeleton-text {
      aspect-ratio: 2 / 1;
      margin: 0;
    }
  
    ion-card-content {
      padding: 16px;
      padding-top: 0;
    }
  
    .ratingContainer {
      display: flex;
      align-items: center;
    }
  
    .chip {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--ion-color-primary);
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      border-radius: 999px;
    }
        
    ion-text {
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
  
    ion-icon {
      margin-right: 3px;
      font-size: 14px;
      color: #fff;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
  
  
.ios .homePage .ionCard {
  ion-card-title {
    font-size: 15px;
  }
  
  .ratingContainer {
    .chip {
      padding-top: 1px;
      padding-bottom: 1px;
  
      * {
        font-size: 12px;
      }
    }
  
    ion-label {
      font-size: 12px;
    }
  }
}