.noneOrdersIcon {
  font-size: 12vh;
}

.noneOrdersContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noneOrderText {
  margin-top: 5vh;
  font-weight: bold;
  font-size: 2.3vh;
}

.noneOrderBtn {
  margin-top: 5vh;
}
