.bookingStatus {
    color: #0eb349;
    font-weight: bold;
    font-size: 2.7vh;
    margin-bottom: 1vh;
}

.bookingInfo {
    margin: 2vh;
}

.bookingPrice {
    font-weight: bold;
    font-size: 2.2vh;
}

.bookingDetails {
    border-top: 15px solid #f3f3f3;
    border-left: 6px solid #f3f3f3;
    border-right: 6px solid #f3f3f3;
    border-bottom: 15px solid #f3f3f3;
    padding: 1.4vh;
}

.bookingTitle {
    font-size: 2.3vh;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #f3f3f3;
    margin-left: 2vh;
}

.bookingActivity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
    font-weight: bold;
    font-size: 1.8vh;
    margin-top: 2vh;
}

.bookingActivityIcon {
    width: 12vh;
}

.packageDetailsContainer {
    margin-top: 2vh;
    padding: 2vh;
}

.packageDetailsTitle {
    background-color: #f3f3f3;
    padding: 1vh;
    font-size: 1.7vh;
    font-weight: 550;
    border: 1px solid #c9c9c9;
}

.packageDetails {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9c9c9;
    padding: 1.5vh;
}

.orderDetailsSubtitle {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bookingNumbers {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.bookingNumber,
.bookingDate {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bookingContact {
    padding: 2vh;
}