.profile-header {
    height: 30vh;
    background-color: #70abb1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ion-img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }

    .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .no-image {
            background-color: #ffd64e;
            height: 100px;
            width: 100px;
            color: #70abb1;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            font-weight: 600;
        }

        .username {
            font-size: 20px;
            margin-top: 2vh;
            font-weight: 500;
            color: #dcdcdc;
            padding-bottom: 2px;
            border-bottom: solid 1px #dcdcdc;

            a{
                color: #dcdcdc;
                text-decoration: none;
            }

        }
    }
}


ion-alert{
    .alert-wrapper{
        .alert-message{
            font-size: 17px;
            padding-bottom: 30px;
        }
    }
}