@use "../theme/common";

@mixin searchBar {
  display: flex;
  align-items: center;
}

.md .searchPage {
  .searchBarContainer {
    @include searchBar;

    height: 56px;

    ion-searchbar {
      padding-left: 0;
    }
  }

  .ionBackButton {
    --icon-font-size: 45px;
  }

  .ionSearchBar {
    @include common.mdIonSearchBar;
  }
}

.ios .searchPage {
  .searchBarContainer {
    @include searchBar;

    height: 52px;

    ion-searchbar {
      padding: 0;
    }

    .ionBackButton {
      --icon-font-size: 25px;
    }

    ion-back-button {
      margin-left: 14px;
      margin-right: 11px;
    }
  }

  .ionSearchBar {
    @include common.iosIonSearchBar;

    --color: black !important;
  }
}
