.shareEventPage {
  ion-card {
    height: calc(100vh - 76px)
  }

  .cardInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    font-size: 25px;
    margin: 10px 0;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }

  .inviteCode {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    user-select: all !important;
  }
}

.ios .shareEventPage {
  ion-card {
    height: calc(100vh - 100px)
  }
}