@use "../../theme/common";

.packageRow {
  ion-chip {
    pointer-events: none;
    max-width: 200px;
    word-wrap: normal;
    min-height: 16px;
    height: unset;
    max-height: fit-content;
    margin-right: 0;
  }

  .quantityBtn {
    padding: 0;
    font-size: 25px;
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .quantityBtn.fulled {
    color: #BBB;
  }

  .quantityDisplay {
    color: common.$normalFontColor;
    margin-left: 25px;
    margin-right: 25px;
  }

  .quantityDisplay.fulled {
    color: #BBB;
  }
}
