@use "../../theme/common";

.sectionHeader {
  font-size: 15px;
  font-weight: bold;
  // margin-bottom: -10px;

  div {
    display: flex;
    align-items: center;
  }

  div:before {
    content: "\a";
    width: 6px;
    height: 21px;
    border-radius: 2px;
    background: var(--ion-color-primary);
    display: block;
    margin-right: 10px;
    flex-shrink: 0;
  }
}
