@use "../../theme/common";

section.section {
  background-color: white;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 15px;

  margin-bottom: 15px;

  .title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }

  .content {
    color: common.$normalFontColor;
  }

  .info {
    div {
      margin-bottom: 4px;
    }
  }
}

section.package {
  ion-button {
    --background-activated: #68ced6;
    margin-top: 15px;
    display: block;
  }
}