body {
  font-size: 14px;
}

$normalFontColor: #666666;

@mixin normalText {
  font-size: 14px;
  color: grey;
}

@mixin boldNormalText {
  font-size: 14px;
  color: black !important;
  font-weight: 600;
}

@mixin highlightedText {
  font-size: 17px;
  color: var(--ion-color-primary);
  font-weight: 600;
}

@mixin ionToolBar {
  ion-buttons {
    margin: auto;
  }
}

@mixin ionSearchBar {
  input {
    font-size: 14px;
  }
}

@mixin mdIonSearchBar {
  @include ionSearchBar;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 2px;

  input {
    padding-left: 35px;
    padding-right: 12px;
    height: 32px;
  }

  ion-icon {
    top: 5px;
    left: 9px;
  }
}

@mixin iosIonSearchBar {
  @include ionSearchBar;

  color: black !important;
  padding: 9px;
}

@mixin mdRatingContainer {
  display: flex;
  align-items: center;

  .chip {
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-primary);
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 5px;
    border-radius: 999px;

    ion-text {
      color: white;
      font-weight: bold;
      font-size: 14px;
      margin: auto;
    }

    ion-icon {
      margin-right: 3px;
      font-size: 14px;
      color: #fff;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@mixin iosRatingContainer {
  @include mdRatingContainer;

  .chip {
    padding-top: 1px;
    padding-bottom: 1px;

    * {
      font-size: 12px;
    }
  }

  ion-label {
    font-size: 12px;
  }
}
