.categoryButton {
  width: 25vw;
  box-sizing: border-box;
  margin: 15px 0;

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }

  .button {
    display: flex;
    justify-content: center;
    background-color: #bbd7da;
    width: 50px;
    height: 50px;
    border-radius: 20px/20px;
    margin: auto;
    
    img {
      display: block;
      margin: auto;
      width: 33px;
      height: 33px;
    }
  }

  .button.last {
    background-color: #fcc16a;
  }

  .buttonName {
    width: 100%;
    text-align: center;
    overflow-x: visible;
    margin-top: 6px;
    white-space: nowrap;
    color: #444;
    font-size: 13px;
    text-transform: capitalize;
  }
}