@use "../../theme/common";

.cartCard {
  .ionCard {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding: 10px 12px 5px 12px;
  }

  .cardContent {
    display: flex;
    align-items: flex-start;
  }

  .checkboxThumbnail {
    margin-top: 4px;
    margin-right: 9px;
    flex-shrink: 0;
    width: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ion-thumbnail {
    --size: 60px;
    
    img {
      border-radius: 5px;
    }
  }

  .cardToolbar {
    display: flex;
  }

  .activityTitle {
    @include common.boldNormalText;
    display: block;
  }

  .activityContent {
    @include common.normalText;
    display: block;
  }

  .price {
    flex-grow: 1;
    text-align: right;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
  }

  .price span {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
